/* MENU */

.menu {    
    display: flex;
    position: fixed;
    height: 6%;
    width: 100%;
    padding: 5px 0px 5px 0px;
}

.menu__inicio {
    display: flex;
    align-items: center;
    width: 50%;
}

.menu__links {
    display: flex;
    justify-content:space-around;
    align-items: center;
    width: 50%;
    
}

/* CONTEUDO*/

.conteudo {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 95%;
    height: 90%;
    padding: 100px 30px 100px 30px;
    gap: 64px;
}

/* Apresentação */

.conteudo__apresentacao {
    display: flex;
    justify-content: center;
    gap: 32px;
    padding-top: 6%;
}

.conteudo__apresentacao__texto {
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 24px;
}

.conteudo__apresentacao__texto__links {
    display: flex;
    justify-content: flex-start;
    gap: 32px;
}

.conteudo__apresentacao__imagem {
    width: 30%;  
    padding: 0;
}

/* Sobre mim */

.conteudo__sobremim {
    display: flex;
    flex-direction: column;
    gap: 32px;
    padding-top: 6%;
}

/* Skills */

.conteudo__skills {
    display: flex;
    flex-direction: column;
    gap: 32px;
    padding-top: 6%;
}

.conteudo__tabelas__skills {
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

.conteudo__tabelas__quadros__skills {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 5px;
}

/* Hobbies */

.conteudo__hobbies {
    display: flex;
    flex-direction: column;
    gap: 32px;
    padding-top: 6%;
}

.conteudo__tabelas__hobbies {
    display: flex;
    justify-content: space-around;
    gap: 10px;
}

.conteudo__tabelas__quadros__hobbies {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    padding: 10px;
    gap: 5px;
}

/* Formação */

.conteudo__formacao {
    display: flex;
    flex-direction: column;
    gap: 32px;
    padding-top: 6%;
}

.conteudo__tabelas__formacao {
    display: flex;
    justify-content: space-around;
    gap: 24px;
}

.conteudo__tabelas__quadros__formacao {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
}



/* Experiências */

.conteudo__experiencias {
    display: flex;
    flex-direction: column;
    gap: 32px;
    padding-top: 6%;
}

.conteudo__experiencias__lista {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.conteudo__experiencia {
    display: flex;   
    justify-content: center;
    gap: 20px;
}

.conteudo__experiencia__2{
    display: flex;   
    justify-content: center;
    flex-direction: row-reverse;
    gap: 20px;
}

.contato__experiencia__img {
    width: 50%;
}

.contato__experiencia__descricao {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
}

.conteudo__experiencia__botoes {
    display: flex;
    gap: 20px;
}

/* Contato */
.conteudo__contato {
    display: flex;
    flex-direction: column;
    gap: 32px;
    padding-top: 6%;
}

.conteudo__contato__apresentacao{
    display: flex;
    justify-content: center;
    gap: 20px;
}

.conteudo__contato__imagem{
    width: 50%;
}

.conteudo__contato__formulario {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
}

.conteudo__contato__formulario__campo {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

/* RODAPÉ */

.rodape {
    position: relative;
    bottom: 0;
    width: 100%;
    height: 10%;
    margin-top: 1%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}
