.varela-round-regular {
    font-family: "Varela Round", sans-serif;
    font-weight: 400;
    font-style: normal;
}
  
body {
    font-family: "varela Round" , sans-serif;
}

h1 {
    font-size: 3em;
    font-weight: bold;
}

h2 {
    font-size: 2em;
    font-weight: bold;
}

p {
    font-size: 1.5em;
}

a {
    font-size: 1em;
}

/* MENU */

.menu {
    background-color: #FFFFFF;
}

/* CONTEUDO */

.conteudo {
    background-image: url("/assets/Software-1024x683.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: justify;
    text-shadow: #8a8888 3px 3px 3px;
    
}

.conteudo__apresentacao__imagem__foto {
    height: 18.75em;
    width: 18.75em;
    border: 1px solid;
    box-shadow: #8a8888 5px 5px 5px;
    border-radius: 200px;
}

.conteudo__subtitulo {
    text-align: center;
}

.conteudo__tabelas__quadros__skills {
    background-color: #FFFFFF;
    border: 1px solid #FFFFFF;
    border-radius: 20px;
    box-shadow: #8a8888 5px 5px 5px;
    width: 10.75em;
    height: 10.75em;
}

.conteudo__tabelas__imagem__skills {
    width: 4em;
}

.conteudo__tabelas__quadros__hobbies {
    background-color: #FFFFFF;
    border: 1px solid #FFFFFF;
    border-radius: 20px;
    box-shadow: #8a8888 5px 5px 5px;
    width: 15.5em;
    height: 10.75em;
}

.conteudo__tabelas__imagem__hobbies {
    width: 8em;
}

.conteudo__tabelas__nome__formacao{
    font-size: 1.25em;
}

/* RODAPÉ */

.rodape p{
    font-size: 1em;
}
