:root {
    --cor-primeira: #FFFFFF;
    --cor-segunda: #4b4a4a;
    --cor-terceira: #000000;
    --cor-quarta: #aaa7a7;

    --font-primeira: "varela Round" , sans-serif;
}
  
body {
    font-family: var(--font-primeira);
    color: var(--cor-primeira);
}

h1 {
    font-size: 2.5rem;
    font-weight: bold;
}

h2 {
    font-size: 1.5rem;
    font-weight: bold;
}

p {
    font-size: 1.2rem;
}

a {
    font-size: 0.6rem;
}

input {
    color: var(--cor-terceira);
}

/* MENU */

.menu {
    background-color: var(--cor-primeira);
    color: var(--cor-terceira);
}

/* CONTEUDO */

.conteudo {
    background-image: url("../assets/fundo.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: justify;
    text-shadow: var(--cor-segunda) 5px 5px 5px;
    
}

/* Apresentação */

.conteudo__apresentacao__imagem__foto {
    height: 13rem;
    width: 13rem;
    border: 1px solid;
    box-shadow: var(--cor-quarta) 5px 5px 5px;
    border-radius: 200px;
}

.conteudo__apresentacao__texto__links__img {
    filter: invert(100%);
}

.conteudo__subtitulo {
    text-align: center;
}

/* Skills */

.conteudo__tabelas__quadros__skills {
    color: var(--cor-terceira);
    background-color: var(--cor-primeira);
    border: 1px solid var(--cor-primeira);
    border-radius: 20px;
    box-shadow: var(--cor-quarta) 5px 5px 5px;
    width: 10.75rem;
    height: 10.75rem;
}

.conteudo__tabelas__imagem__skills {
    width: 4rem;
}

/* Hobbies */

.conteudo__tabelas__quadros__hobbies {
    color: var(--cor-terceira);
    background-color: var(--cor-primeira);
    border: 1px solid var(--cor-primeira);
    border-radius: 20px;
    box-shadow: var(--cor-quarta) 5px 5px 5px;
    width: 15.5rem;
    height: 10.75rem;
}

.conteudo__tabelas__imagem__hobbies {
    width: 8rem;
}

.conteudo__tabelas__nome {
    text-shadow: var(--cor-quarta) 2px 2px 2px;
}

/* Formação */

.conteudo__tabelas__quadros__formacao {
    width: 25rem;
}

.conteudo__tabelas__imagem__formacao {
    width: 23rem;
    height: 23rem;
}

.conteudo__tabelas__nome__formacao{
    font-size: 1.25rem;
}

/* Experiências */

.conteudo__experiencia__img {
    width: 40rem;
   
}

.conteudo__experiencia__botao {
    font-size: 1rem;
    border-radius: 20px;
    width: 10rem;
    height: 4rem;
    box-shadow: var(--cor-quarta) 5px 5px 5px;
}

/* Contato */

.conteudo__contato__imagem {
    width: 25rem;
    height: 25rem;
}

.conteudo__contato__formulario__botao {
    width: 10rem;
    height: 4rem;
    background-color: var(--cor-segunda);
    color: var(--cor-primeira);
    border-radius: 20px;
    box-shadow: var(--cor-quarta) 5px 5px 5px;
}

.mensagem__erro {
    color: red;
    font-size: 0.8rem;
}

/* RODAPÉ */

.rodape p{
    font-size: 1rem;
    color: var(--cor-terceira)
}

@media (max-width : 768px) {
    h1 {
        font-size: 1.7rem;
    }

    h2 {
        font-size: 1rem;
    }

    p {
        font-size: 0.8rem;
    }
    
    a {
        font-size: 0.5rem;
    }

    .conteudo__apresentacao__imagem__foto {
        height: 10rem;
        width: 10rem;
    }

    .conteudo__tabelas__quadros__skills {
        width: 10rem;
        height: 10rem;
    }

    .conteudo__tabelas__quadros__hobbies {
        width: 10rem;
        height: 10rem;
    }
        
    .conteudo__tabelas__quadros__formacao {
        width: 10rem;
    }

    .conteudo__tabelas__imagem__formacao {
        width: 13rem;
        height: 13rem;
    }
}

@media (max-width : 360px) {
    .conteudo__apresentacao__imagem__foto {
        height: 8rem;
        width: 8rem;
    }

    .conteudo__experiencia__img {
        width: 19rem;  
    }
}
